@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");



.fundoverde {
  background-color: green;
  
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;  
  height: 97%;
  width: 200px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 10; 
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: wheat;
  
  
}

.nav-logout {
  background-color: red;
  font-family: "Luckiest Guy", cursive;
  
}



.nav-btn {
  display: none; 
}

  .nav-button {
    
    height: 40px;
    width: 100px;
    background-color: green;
    

  }

.nav-button a {
  text-decoration: none;
  color: white;
  font-family: "Luckiest Guy", cursive;
  
}



@media (max-width: 768px) {
  .sidebar {
      transform: translateX(100%); 
  }

  .sidebar.show-sidebar {
      transform: translateX(0); 
  }
  
  
  .nav-btn {
      display: block; 
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: white;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 20;
  }

  /* Ícone de fechar dentro da barra de navegação */
  .nav-close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
  }

  /* Ajusta o conteúdo da página quando a barra está oculta */
  .page-content {
      margin-right: 0;
      padding: 20px;
      
  }
}





/* Estilo para a bolinha no topo da tela */
.top-ball {
	width: 20px;
	height: 20px;
	background-color:black;
	border-radius: 50%; 
	position: fixed; 
	top: 10px; 
	right: 10px; 
	z-index: 1000; 
	cursor: pointer; 
	
  }
  
  
  .light-mode {
	background-color: #ffffff;
	color: #000000;
  }
  
  .light-mode nav {
	background-color: #f0f0f0;
	
	background-color: var(--CorFundoNav);
  }
  
  .light-mode button {
	background-color: #000000;
	color: #ffffff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  /* Estilo para o modo escuro */
  .dark-mode {
	background-color: #181818;
	color: #ffffff;
  }
  
  .dark-mode nav {
	background-color: #333333;
	
	background-color: var(--CorFundoNav);
  }
  
  .dark-mode button {
	
	color: #000000;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
  }
  