
.atribuicao-container {
    display: flex;
    background-image: url('../assets/img/bg-opaco.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  .atribuicao-form {
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
  .form-header {
    margin-bottom: 20px;
  }
  
  .atribuicao-form h1 {
    font-size: 2rem;
    color: red; /* Cor do texto "Atribuição de Pedidos" */
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .pedido-group {
    display: flex;
    align-items: center;
  }
  
  .pedido-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pedido-button {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pedido-button:hover {
    background-color: #45a049;
  }
  
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .assign-button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .assign-button:hover {
    background-color: #45a049;
  }
  
  .cancel-button {
    background-color: #d32f2f; /* Vermelho */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #c62828;
  }
  
 